<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <p>Suzanne Boeykens-Backx, Driesstraat 31, 1820 Perk &nbsp; 
            Tel: <a href="tel:0032486560413">+32.486.56.04.13</a> , <a href="mailto:suzanne@taboka.be">suzanne@taboka.be</a></p>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>
            document.write(new Date().getFullYear());
            </script>, made by
            <a href="https://www.carolineboeykens.be" target="_blank">Caroline Boeykens</a>.
        </div>
    </div>
</footer>