.block {
	padding: 25px;
}

@media (min-width: 576px) {
    .block {
        padding: 6em 50px;
    }
}

.navbar-brand img {
	display: block;
	width: 40px;
}

.section {
	padding: 5px 0;
	background-color: #fff;
	border-radius: 5px;
}

.white {
	display: block;
	width: 100%;
	background-color: #fff;
}

.green {
	display: block;
	width: 100%;
	background-color: #1d3f28;
}

.green h1, .green p, .green h3, .green h5, .green table{
	color: white;
}

.green table th, .green table td {
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.image-wrapper {
	display: block;
	width: 100%;
}

h1 {
	margin-bottom: 1em;
}

.center a {
	display: block;
	max-width: 300px;
	margin: 10px auto;
}

.center h4 {
	text-align: center;
	margin-bottom: 2em;
}

.center h1, .center h5 {
	text-align: center;}

.jumbotron-contact {
	background-size: cover;
	background-repeat: no-repeat;
}

.flex {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.flex .card {
	max-width: 300px;
	margin: 25px;
}

.flex .card a h5 {
	color: rgba(29, 63, 40, 0.9);
	transition: 0.3s color;
}

.flex .card:hover a h5 {
	color: rgba(29, 63, 40, 0.4);
}

#myTab {
	border-bottom-width: 0.1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-radius: 0;
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link.active {
	border-top: 1px solid #999 !important;
	border-left: 1px solid #999 !important;
	border-right: 1px solid #999 !important;
	color: black !important;
	transition: 0.3s color;
}

.nav-tabs .nav-item .nav-link.active {
	background-color: white;
	border-bottom: 1px solid #fff !important;
}

.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link.active:hover {
	border-top: 1px solid #999 !important;
	border-left: 1px solid #999 !important;
	border-right: 1px solid #999 !important;
	color: #999 !important;
}

h1 {
	font-size: 1.8rem;
}

@media (min-width: 576px) {
    h1 {
        font-size: 3.3125rem;
    }
}


.table--day {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.day--green {
	color: green;
	font-weight: bold;
	font-size: 1.2em;
}

.day--red {
	color: #f79759;
	font-weight: bold;
	font-size: 2em;
}

.button-center {
	margin: 15px auto;
}

.card-body a:not(.btn) {
	color: #1d3f28 !important;
	text-decoration: underline !important;
}

.card-body a:not(.btn):hover {
	color: #326e46 !important;
	text-decoration: none !important;
}

.card-body a:not(.btn):active {
	color: #6cbb86 !important;
	text-decoration: none !important;
}





